---
import Icon from './Icon.astro';
import { Icon as AstroIcon } from 'astro-icon/components';

---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<AstroIcon name="mdi:database" color="var(--accent-regular)" size={50} />
		<h2>Back-End</h2>
		<p>Passionné par Laravel et Symfony, j'aime créer des applications robustes et performantes.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<AstroIcon name="mdi:monitor-cellphone-star" color="var(--accent-regular)" size={50} />
		<h2>Front-End</h2>
		<p>À l'aise avec JavaScript et CSS, je crée des interfaces web dynamiques et attrayantes.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<AstroIcon name="mdi:account-multiple" color="var(--accent-regular)" size={50} />
		<h2>Travail d'équipe</h2>
		<p>Collaboratif et communicatif, j'apprécie travailler en équipe pour atteindre des objectifs communs.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
